* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Decides background for all of top content container */

.top-container {
    background-color: #1F2937;
}

/* Aligning items in nav bar insida top container */

.top-container-nav {
    margin-bottom: 100px;
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Styling for logo */

.header-logo {
    font-size: 24px;
    color: white;
    font-weight: 750;
}

/* Align subtext to image placeholder */

.top-container-subtext {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    margin-top: 100px;
}

/* Make subtext content stack on top of eachoter */

.subtext {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* Styling for title in subtext */

.subtext .subtext-title {
    color: #F9FAF8;
    font-size: 34px;
    font-weight: 950;
}

/* Styling for paragraph in subtext */

.subtext p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 12px;
}

/* Styling for button in subtext */

.subtext button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    padding: 0;
    border: none;
    border-radius: 12px;
    margin-top: 8px;
    padding: 8px;
}

/* Styling for image placeholder and makes text sit in middle */

.image-placeholder {
    background-color: grey ;
    color: white;
    height: 220px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Decides background color and height for middle container */

.middle-container {
    background-color: white;
    height: 260px;
}

/* Styling for the text in the middle container */

.middle-container-top-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 560;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Aligns images insied of the middle container */

.images {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Adds borders to image containers */

.image-border {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

/* Places image text underneath images */

.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Some tweaking to text position */

.image-text p {
    margin-top: 6px;
    width: 100px;
}

/* Decides where the quote will sit inside of the "quote" container */

.quote {
    background-color: #E5E7EB;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for quote text */

.quote-text {
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
}


